@import '~styles/common'

.BenchmarkWorkspace
  display flex
  flex 1
  overflow hidden

.BenchmarkWorkspace-Sidebar
  min-width $SIDEBAR_MIN_WIDTH

.BenchmarkWorkspace-Main
  flex-flow column
  min-width "calc(100% - %s)" % $SIDEBAR_MAX_WIDTH

.BenchmarkWorkspace-Pane
  size 100%
  display flex
  flex-flow column

.BenchmarkWorkspace-Toolbar
  width 100%
  flex 0 0 auto

.BenchmarkWorkspace-Editor
  width 100%
  flex 1

.BenchmarkWorskpace-Console
  width 100%
  height 40px
  min-height 50px
  flex 0 0 auto
