@import '~styles/common'

.Login
  position relative
  size 100%
  display flex
  align-items center
  justify-content center
  background rgba($BLACK, 0.5)

.Login-Content
  padding 20px 30px
  border 1px solid rgba($BLACK, 0.1);
  display flex
  flex-flow column
  max-width 400px
  min-width 280px
  background $COD_GRAY
  box-shadow 0px 0px 10px 2px rgba(0,0,0,0.5);
  width 50%

.Login-Button
  @extends .h-clickable
  margin-top 20px
  background-color $COD_GRAY_MIN
  border 1px solid transparent
  height 45px
  display flex
  align-items center
  border-radius 6px
  svg
    height 100%
    width 55px
    padding 10px
    margin-right 15px
    border-right 2px solid rgba($BLACK, 0.1)
  &:hover
    background-color rgba($COD_GRAY, 0.8)
    border 1px solid $TUNDORA

.Login-LocalLink
  @extends .h-clickable
  color $GRAY
  margin 20px 0 0 auto
  font-size 12px
  text-decoration underline
  &:hover
    color $ALTO