@import '~styles/common'

.LabelEdit
  display inline-block
  position relative
  color white
  font-size 16px
  form
    display inline-block
  input
    font-size 16px
    padding 0
    outline none
    color $WHITE
    background transparent
    border none
    margin 0
    &:focus
      outline none


.LabelEdit-Icon
  margin-left 4px
  cursor pointer
  padding 3px
  padding-bottom 5px
  size 22px
  opacity 0.5
  &:hover
    opacity: 1