@import '~styles/common'

.LayoutHeader
  flex 0 0 auto
  height 90px
  background-color $COD_GRAY
  padding 10px
  display flex
  flex-flow row

.LayoutHeader-Logo
  height 100%
  width 150px
  display block

.LayoutHeader-Menu
  display flex
  justify-content flex-end
  align-items center
  width 100%

.LayoutHeader-Login
  @extends .h-clickable
  size 50px
  display flex
  align-items center
  justify-content center
  &:hover svg
    color $TUNDORA

.LayoutHeader-User
  @extends .h-clickable
  size 50px
  background $TUNDORA
  background-size cover
  background-position center
  border-radius 50%