@import '~styles/common'

.LayoutHeader
  flex-grow 0
  flex-shrink 1
  flex-basis auto
  background-color $COD_GRAY
  height 80px
  padding 10px
  display flex
  flex-flow row

.LayoutHeader-Logo
  height 100%
  width 150px

.LayoutHeader-Menu
  display flex
  justify-content flex-end
  align-items center
  width 100%

.LayoutHeader-Login
  @extends .h-clickable
  size 50px
  display flex
  align-items center
  justify-content center
  &:hover svg
    color $TUNDORA

.LayoutHeader-User
  @extends .h-clickable
  size 50px
  background $TUNDORA
  background-size cover
  background-position center
  border-radius 50%