@import '~styles/vars.styl'

.App
  display flex
  flex-flow column
  size 100%
  color $WHITE
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale