@import '~styles/vars.styl'

.App
  display flex
  flex-flow column
  size 100%
  min-height 480px
  color $WHITE
  font-family 'Roboto', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale