html,
body
  size 100%
  background $MINE_SHAFT
  margin 0

svg
  size 32px

ul
  list-style none
  padding 0
  margin 0

label
  display block
  font-size 14px
  color rgba($WHITE, 0.7)

input,
textarea
  display block
  font-size 14px
  margin 6px 0

label
  user-select none
  cursor pointer
