$BLACK = #000000
$COD_GRAY = #171717
$MINE_SHAFT = #1e1e1e
$MINE_SHAFT_PLUS = #383838
$TUNDORA = #4A4A4A
$GRAY = #868585
$ALTO = #cfcfcf
$WHITE = #ffffff
$CINNABAR = #e03d4c

$SIDEBAR_MIN_WIDTH = 220px
$SIDEBAR_MAX_WIDTH = 380px