$BLACK = #000000
$COD_GRAY = #171717
$MINE_SHAFT = #1e1e1e
$MINE_SHAFT_PLUS = #1b1b1b
$TUNDORA = #4A4A4A
$GRAY = #868585
$ALTO = #cfcfcf
$WHITE = #ffffff
$CINNABAR = #ea4147

$SIDEBAR_MIN_WIDTH = 180px
$SIDEBAR_MAX_WIDTH = 280px