@import '~styles/common'

.FormEdit
  position relative
  margin 10px 0
  input, textarea
    width 100%
    padding 7px
    background $MINE_SHAFT_PLUS
    border none
    outline none
    color $WHITE
    &:focus
      outline 1px solid $TUNDORA