@import '~styles/common'

.FormEdit
  position relative
  margin 10px 0
  input
    width 100%
    padding 7px
    color $GRAY
    background $MINE_SHAFT
    outline none
    border 1px solid $MINE_SHAFT_PLUS
    &:focus
      color $ALTO
      border-color $TUNDORA