@import '~styles/common'

.FormTextArea
  position relative
  textarea
    width 100%
    font-size 13px
    background $MINE_SHAFT
    color $GRAY
    border-color $MINE_SHAFT_PLUS
    line-height 1.2
    padding 5px
    resize none
    outline none
  textarea:focus
    border-color $TUNDORA