@import '~styles/common'

.FormSelect
  position relative
  margin 10px 0
  > select
    color $GRAY
    outline none
    border 1px solid $MINE_SHAFT_PLUS
    background $MINE_SHAFT
    appearance none
    padding 7px 25px 7px 7px
    background-image url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCI+Cjx0aXRsZT48L3RpdGxlPgo8ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPgo8L2c+CjxwYXRoIGZpbGw9IiM4Njg1ODUiIGQ9Ik05MDMuMjUyIDE5NS42MjhsLTM5MS4yNTIgMzkxLjI1Mi0zOTEuMjUyLTM5MS4yNTItMTIwLjc0OCAxMjAuNzQ0IDUxMiA1MTIgNTEyLTUxMnoiPjwvcGF0aD4KPC9zdmc+Cg==')
    background-repeat no-repeat, repeat
    background-position right 7px top 50%, 0 0
    background-size 8px


.FormSelect--small
  > select
    padding 4px 22px 4px 4px