@import '~styles/common'

.FormTextArea
  position relative
  margin 10px 0
  textarea
    width 100%
    font-size 13px
    color $GRAY
    background $MINE_SHAFT
    outline none
    border 1px solid $MINE_SHAFT_PLUS
    line-height 1.2
    padding 5px
    resize none
    &:focus
      color $ALTO
      border-color $TUNDORA
