@import '~styles/common.styl'

.WorkspaceEditorConfig
  size 100%
  font-size 14px
  .LayoutModal-Wrapper
    max-width 500px
    min-width 320px

.WorkspaceEditorConfig-Delete
  cursor pointer
  display flex
  user-select none
  color $CINNABAR
  svg
    size 13px
  span
    margin-left 6px
  &:hover span
    text-decoration underline