@import '~styles/common.styl'

.WorkspaceToolbar
  height 60px
  background $COD_GRAY
  padding 10px
  overflow hidden
  display flex

.WorkspaceToolbar-BenchActions
  display flex

.WorkspaceToolbar-LabelEdit
  width 100%
  flex 1 1 auto