@import '~styles/common.styl'

.WorkspaceToolbar
  height 60px
  background $COD_GRAY
  padding 10px
  overflow hidden
  display flex
  justify-content space-between

.WorkspaceToolbar-BenchActions
  display flex
  flex 0 0 auto

.WorkspaceToolbar-LeftWrapper
  min-width 0
  display flex
  flex 1 1 auto

.WorkspaceToolbar-MenuButton
  padding-bottom 8px